.super-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.image-display {
  height: 500px;
  width: 100%;
  border-radius: 5%;
  object-fit: cover;
}

@media screen and (min-width: 992px) {
  .product-content {
    padding-top: 0;
  }

  .mage:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
    cursor: pointer;
  }
}
